<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--变量配置-->
    <Properties>
        <!-- 指定项目名称 -->
        <property name="appName" value="my-spring" />
        <!-- 指定日志存储的路径 -->
        <!-- 格式化输出：%d表示日期，%t表示线程名，%-5level表示级别从左显示5个字符宽度 %m是日志消息，%n是换行符-->
        <property name="loggingPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostName}] [${appName}] [%-5level] [%t] [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%c{1.}] : %m%n" />
    </Properties>

    <Appenders>
        <!-- 打印到控制台以便调试 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${loggingPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--日志级别优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
        <!--AsyncRoot 异步记录日志 -->
        <AsyncRoot level="info">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
